<% @number.times do%>
<h1 class='red'>Bom Dia <%= @name  %></h1>
<%
=begin%>
 Tbm tem o <%= exibi retorno da funcao 5*5  %> 
<%
=end%>
<% end %>
<%= link_to "Venha Comer", food_now_path, class:'red' %>