<h1>Teste</h1>

<h1>Ola, você digitou os valores:</h1>
<h2>* <%= @num1  %></h2>
<h2>* <%= @num2 %></h2>

<%
=begin%>
  Links para as outras funções da Classe Matematica
<%
=end%>
<%= link_to "Você deseja somar?", calculator_sum_path %>
<%= link_to "Você deseja subtrair?", calculator_minus_path %>
<%= link_to "Você deseja multiplicar?", calculator_multiply_path %>
<%= link_to "Você deseja dividir?", calculator_division_path %>