<h1>Multiplicação</h1>

<h1>Ola, você digitou os valores:</h1>
<h2>* <%= @num1  %></h2>
<h2>* <%= @num2  %></h2>
<h2>A multiplicação é <%= @num1%> x <%= @num2 %> = <%= @result %></h2>

<%
=begin%>
  Links para as outras funções da Classe Matematica
<%
=end%>
<%= link_to "Voltar para o menu?", calculator_home_path %>
<%= link_to "Você deseja subtrair?", calculator_minus_path %>
<%= link_to "Você deseja multiplicar?", calculator_multiply_path %>
<%= link_to "Você deseja dividir?", calculator_division_path %>