<!DOCTYPE html>
<html>
  <head>
    <title>Aula1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%
=begin%>
  Executa o bloco de codigo q a funcao recebeu => yeld
<%
=end%>
  </body>
</html>
